<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net40" />
  <package id="Fody" version="1.29.4" targetFramework="net40" developmentDependency="true" />
  <package id="LINQPad" version="4.51.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="PropertyChanged.Fody" version="1.50.1" targetFramework="net40" developmentDependency="true" />
</packages>